@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

button,
[role='button'] {
  -webkit-user-select: none;
  user-select: none;
}
